body {
    margin: 0;
    padding: 0;
    text-align: center;
}


.bigfather{
    display: flex;
    align-items: center;    
}
.about-subtitle{
    padding-bottom: 4rem;

}
.about-info{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    h6{
        color: $main_color;
        font-size: 0.875rem;
        font-weight: 600;
        letter-spacing: 2px;
    }
    .sinyator{
        display: flex;
        gap: 2.5rem;
    }
}
.about {   
    background: $background_color;
    padding: 50px;
    h2{
        color: $second_color;
        font-size: 42px;
        font-weight: 500;

    }

    .about-info {
        text-align: left;
        
    }
    .about-details {
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
        border-radius: 10px;
        padding: 5px 15px;
        .detail{
            display: flex;
            flex-direction: column;
            gap: 10px;
        }
    }
}
.about-details{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.detail {
    margin: 5px 0;
    font-size: 14px;

    strong {
        color: #333;
        font-weight: bold;
        display: inline-block;
    }
}

.signature {
    margin-top: 20px;
    font-family: cursive;
    font-size: 18px;
    color: #5a3826;
}
@media (max-width:420px) {
    .bigfather{
        display: flex;
        flex-direction: column;
        text-align: center;
        align-items: center;
        gap: 2rem;
        .about-image{
            img{
                width: 100%;
            }
        }
        .signature{
            display: flex;
            align-items: center;
        }

    }
    
}

.skills {
    display: flex;
    justify-content: center;
    gap: 2rem;
    align-items: center;
    padding: 3rem;
    // margin: 50px auto;
    // max-width: 1100px;

    .skill {
        background: #fff;
        padding: 2rem;
        width: 50vw;
        border-radius: 10px;
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
        text-align: center;
        
    }

    h3 {
        color: #2c3e50;
        font-size: 1.3em;
    }

    p {
        color: #777;
        font-size: 0.9em;
    }

    .progress-bar {
        height: 6px;
        background: #f0e0d0;
        border-radius: 5px;
        overflow: hidden;
        margin-top: 10px;
    }

    .progress {
        height: 100%;
        background: #e67e22;
    }

    .percentage {
        display: block;
        margin-top: 5px;
        font-weight: bold;
    }
    @media (max-width:420px) {
        padding: 0;
        margin: 0;
            display: flex;
            flex-direction: column;
            align-items: center;
         
        
        
    }
}
