.portfolio {
    h2 {
        color: $second_color;
        font-size: 42px;
        font-weight: 500;
    }
}

/* Sidebar filtering logic */
#sidebar:has(button[data-filter="web design"]:focus) ~ #all-design div:not([class*="web design"]),
#sidebar:has(button[data-filter="graphiques"]:focus) ~ #all-design div:not([class*="graphiques"]),
#sidebar:has(button[data-filter="motion"]:focus) ~ #all-design div:not([class*="motion"]),
#sidebar:has(button[data-filter="branding"]:focus) ~ #all-design div:not([class*="branding"]) {
    display: none;
}


.filteredList {
    display: flex;
    flex-direction: column;
    gap: 3rem;
    align-items: center;
}

/* Sidebar filter buttons */
#sidebar {
    display: flex;
    justify-content: center;
    gap: 2rem;

    .filter-option {
        border: none;
        background-color: white;
        font-size: 15px;
        font-weight: 500;
        padding: 8px 20px;
        cursor: pointer;
        border-radius: 30px;
        transition: all 0.3s ease-in-out;
    }

    .filter-option:hover {
        color: $main_color;
        background-color: $light_color;
        border-radius: $b-rounded;
        margin-top: 5px;
    }

    .filter-option:focus {
        background-color: $main_color;
        color: white;
        border-radius: $b-rounded;
    }

    @media (max-width: 420px) {
        flex-wrap: wrap;
        gap: 15px;
        align-items: center;
        text-align: center;
    }
}

/* Design grid layout */
#all-design {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
    padding: 3rem;
    width: 80%;

    @media (max-width: 420px) {
        display: flex;
        flex-direction: column;
        width: 100%;
    }
}

/* Card styles */
.card {
    border-radius: $b-rounded;
    overflow: hidden;
    box-shadow: $shadow;
    background: white;
    text-align: left;

    img:hover {
        opacity: 50%;
    }
}

.card:hover {
    margin-top : 10px;
}

/* Typography styles */
.category {
    color: $main_color;
    font-size: 12px;
    font-weight: bold;
    text-transform: uppercase;
}

.content {
    padding: 20px;
}

.title {
    font-size: 20px;
    font-weight: bold;
}

.description {
    font-size: 15px;
    color: #666;
}